@page "/detailCar/{id:int}"
@inject ICarService CarService

<PageTitle>Car Details</PageTitle>

<h1>Car Details</h1>
<hr />
@if (car != null)
{
    <dl class="row">
        <dt class="col-sm-2">
            Make
        </dt>
        <dd class="col-sm-10">
            @car.Make
        </dd>
        <dt class="col-sm-2">
            Model
        </dt>
        <dd class="col-sm-10">
            @car.Model
        </dd>
        <dt class="col-sm-2">
            Year
        </dt>
        <dd class="col-sm-10">
            @car.Year
        </dd>
        <dt class="col-sm-2">
            Doors
        </dt>
        <dd class="col-sm-10">
            @car.Doors
        </dd>
        <dt class="col-sm-2">
            Color
        </dt>
        <dd class="col-sm-10">
            @car.Color
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0:C}", car.Price)
        </dd>
    </dl>
    <div>
        <a class="btn btn-outline-primary" href="/editCar/@car.Id">Edit</a>
        <a class="btn btn-outline-dark" href="/cars">Back to List</a>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Car car { get; set; } = new Car();

    protected override async Task OnInitializedAsync()
    {
        car = await CarService.GetCarAsync(Id);
    }

}

